h1{
    color:darkblue
}

p{
   color: rgb(0, 0, 0);
   font-size: 20px;
}
h1{
    color: blue;
}
p{
color: black;(0, 0, 0)
}
.img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;
}